/* Common config */

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

:root {
  --color-pale-dogwood: #d5c6c3;
  --color-eerie-black: #1c1c1cff;
  --color-uranian-blue: #a0ddffff;
  --color-cornflower-blue: #7189ffff;
  --color-royal-purple: #624cabff;
  --color-light: #f3f3f3;
  --color-dark: #131313;
  --font-xs: 0.8rem;
  --font-sm: 1rem;
  --font-md: 1.6rem;
  --font-lg: 2rem;
  --font-xl: 2.6rem;
  --font-2xl: 3.6rem;
}

.hidden {
  display: none;
}

/* Mobile view */

body {
  background-color: var(--color-pale-dogwood);
  color: var(--color-dark);
  font-family: DM_Sans, sans-serif;
  font-size: var(--font-md);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-areas:
    "header"
    "filter"
    "main-container"
    "pages"
    "footer";
}

.header {
  grid-area: header;
  background-color: var(--color-cornflower-blue);
  color: var(--color-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: Playwrite_AT;
  font-style: italic;
  padding: 1rem;
}

.header i {
  font-size: var(--font-xl);
}

.logo h1 {
  margin: 0;
  font-size: var(--font-lg);
  line-height: var(--font-xl);
}

.menu-icon {
  transition: ease 1s;
  padding: 1rem;
}

.menu-icon.selected {
  color: var(--color-uranian-blue);
  transform: rotate(-90deg);
}

.menu {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.menu-item {
  background-color: transparent;
  color: inherit;
  border: none;
  border-bottom: 1px solid var(--color-light);
  width: 100%;
  padding: 0.75rem;
}

.main-container {
  grid-area: main-container;
}

.filter {
  grid-area: filter;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem 1rem;
  padding: 1rem 2rem;
}

.filter p {
  margin: 0;
}

#filter-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-royal-purple);
  padding: 0 1rem 0.5rem;
  font-family: DM_Sans, sans-serif;
  font-size: var(--font-md);
  min-width: 250px;
  text-align: center;
}

.pages {
  grid-area: pages;
}

.footer {
  grid-area: footer;
  background-color: var(--color-royal-purple);
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.75rem;
}

.footer p {
  margin: 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.social {
  display: flex;
  gap: 1.5rem;
  font-size: var(--font-lg);
}

/* Tablet view */

/* Desktop view */

/* Large screens view */
